<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/themes/smoothness/jquery-ui.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/jquery-ui.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    
</head>     
<body>
	<div id="containerID">
		<div>
			<h2>GitHub Repo Autocomplete</h2>
      <p>Search for a GitHub Repo of your choice:</p>
			<p></p>
			<form method="get" id="searchID">
				<input type="text" class="searchClass" id="searchInputID" value="" />
				<!-- <button type="submit">Search</button> -->
			</form>
		</div>
	</div>

  <script type="text/javascript">
    $(".searchClass").autocomplete({
      source: function (request, response) {

        console.log(request.term); // print search term
        
        $.ajax({
          type: "GET",
          url: "http://localhost:9876/api/repo?search_term=" + request.term,
          dataType: "json",
          success: function (data) {
            data_arr = []
            for(var k in data) {
              console.log(k, data[k]);
              //response(data[k]["name"]);
              data_arr[k] = data[k]["name"]
              console.log(data_arr)
            }
            response(data_arr);
          },
        });
      },
    });
  </script>

</body>
</html>
